@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To</h2>
    <h1>Employee Management System</h1>
    <div>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ffd800; " asp-area="" asp-controller="Admin" asp-action="Get">Admin</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #0094ff; " asp-area="" asp-controller="Account" asp- asp-action="SignIn">Employee</a></h2>
        @*<button><a class="nav-link text-dark btn-primary font-weight-bold" style="background-color: #ff8d00;" asp-area="" asp-controller="Employees" asp- asp-action="Get">Get Emplyoee</a></button>*@
    </div>
</div>
